@import 'tailwindcss';
@import 'swiper/swiper-bundle.css';

body {
  font-family: poppins;
}
swiper-container {
  --swiper-pagination-color: white;
  --swiper-navigation-color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
